<div class="row">
    <div class="col average-price-box">
        <h3 class="bg-91">Unleaded 91</h3>
        <div class="average-price-inner">
            <span class="average-price" id="data-average-91">Test</span>
            <span class="average-period">28 day change: </span>
            <span class="average-price-change" id="data-change-91"></span>
        </div>
    </div>
</div>

.average-price-inner,#gaspy-stats-page .info-box {
    background: #f0f0f0;
    padding: 7px;
    font-size: .9em
}

.average-price-box {
    border-radius: 8px;
    overflow: hidden;
    background: #fff
}

.bg-91 {
    background: #40b54a
}


